<div class="container">

    <div class="row">

        <div class="col-md-4">
            <button class="btn btn-success" (click)="viewProducts()">
                View Products
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="viewCategories()">
                View Categories
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-success" (click)="viewCustomers()">
                View Customers
            </button>
        </div>
    </div>

    <hr>
    <hr>

    <div class="row">

        <div class="col-md-4">
            <button class="btn btn-success" (click)="addProducts()">
                Add Product
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="addCategory()">
                Add Category
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-success" (click)="viewOrders()">
                View Orders
            </button>
        </div>
    </div>
    <hr>
    <hr>

    <div class="row">

        <div class="col-md-4">
            <button class="btn btn-success" (click)="addSupplier()">
                Add Supplier
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-success" (click)="addDriver()">
                Add Driver
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-success" (click)="viewAllSystemUsers()">
                View all application users
            </button>
        </div>
    </div>

</div>