<div class="container">

  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <th>Full Names</th>
      <th>Username</th>
      <th>Surburb</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.fullNames}}</td>
        <td>{{customer.userName}}</td>
        <td>{{customer.surburb}}</td>
        <td>
           <button class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>