<div class="container">
  <form #supplierForm="ngForm" (ngSubmit)="saveSupplier()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Add Supplier to the application
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group" [class.has-error]="fullNamescontrol.invalid && fullNamescontrol.touched" [class.has-success]="fullNamescontrol.valid">
          <label for="fullNames" class="control-label">Full Names</label>
          <input id="fullNames" type="text" required class="form-control" name="fullNames" [(ngModel)]="supplier.fullNames" #fullNamescontrol="ngModel">
          <span class="help-block" *ngIf="fullNamescontrol.invalid && fullNamescontrol.touched">
            Full names are required!
          </span>
        </div>

        <div class="form-group" [class.has-error]="userNamecontrol.invalid && userNamecontrol.touched" [class.has-success]="userNamecontrol.valid">
          <label for="userName" class="control-label">User Name</label>
          <input id="userName" type="text" required class="form-control" name="userName" [(ngModel)]="supplier.userName" #userNamecontrol="ngModel">
          <span class="help-block" *ngIf="userNamecontrol.invalid && userNamecontrol.touched">
            User name is required!!
          </span>
        </div>

        <div class="form-group" [class.has-error]="emailcontrol.invalid && emailcontrol.touched" [class.has-success]="emailcontrol.valid">
          <label for="email" class="control-label">Email</label>
          <input id="email" type="email" [email]="supplier.email !==''" required class="form-control" name="email" [(ngModel)]="supplier.email"
            #emailcontrol="ngModel">
          <span class="help-block" *ngIf="emailcontrol.errors?.required && emailcontrol.touched">
            Email is required!!
          </span>
          <span class="help-block" *ngIf="emailcontrol.errors?.email && emailcontrol.touched">
            Email is invalid!!
          </span>
        </div>

        <div class="form-group" [class.has-error]="cellnocontrol.invalid && cellnocontrol.touched" [class.has-success]="cellnocontrol.valid">
          <label for="cellNo" class="control-label">Cell Number</label>
          <input id="cellNo" type="text" required class="form-control" name="cellNo" [(ngModel)]="supplier.cellNo" #cellnocontrol="ngModel">
          <span class="help-block" *ngIf="cellnocontrol.invalid && cellnocontrol.touched">
            Cell number is required!!
          </span>
        </div>

        <div class="form-group" [class.has-error]="passwordcontrol.invalid && passwordcontrol.touched" [class.has-success]="passwordcontrol.valid">
          <label for="password" class="control-label">Password</label>
          <input id="password" type="password" required class="form-control" name="password" [(ngModel)]="supplier.password" #passwordcontrol="ngModel">
          <span class="help-block" *ngIf="passwordcontrol.errors?.required && passwordcontrol.touched">
            Password is required!!
          </span>
        </div>

        <div class="form-group" [class.has-error]="confirmpasswordcontrol.invalid && confirmpasswordcontrol.touched" [class.has-success]="confirmpasswordcontrol.valid">
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <input id="confirmPassword" type="password" appConfirmValidator="password" required class="form-control" name="confirmPassword"
            [(ngModel)]="confirmPassword" #confirmpasswordcontrol="ngModel">
          <span class="help-block" *ngIf="confirmpasswordcontrol.errors?.required && confirmpasswordcontrol.touched">
            Confirm Password is required!!
          </span>
          <span class="help-block" *ngIf="confirmpasswordcontrol.errors?.notEqual && confirmpasswordcontrol.touched">
            Password and confirm password do not match!!
          </span>
        </div>

      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="supplierForm.invalid">Save</button>
        <button type="reset" class="btn btn-primary">Reset Form</button>
      </div>
    </div>
  </form>

  <hr>
  <hr>
  <h3 style="margin-top: 30px;font-weight: 800;">
    Suppliers
  </h3>
  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <th>Full Names</th>
      <th>Username</th>
      <th>Surburb</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{supplier.fullNames}}</td>
        <td>{{supplier.userName}}</td>
        <td>{{supplier.surburb}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteSupplier(supplier)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>